#############GCP Service Account Short Name###########################
SERVICE_ACCOUNT="cac-Name-195864723-sa"
#############GCP Organization Name###########################
ORG_NAME="example.ca"
#############Project ID###########################
PROJECT_ID="test-totem-389113"
#############GC Cloud Usage Profile number###########################
GC_PROFILE="1"
#############Region where solution will be deployed###########################
REGION="northamerica-northeast1"
#############The Following information will be provided by SSC Team###########################
SSC_BUCKET_NAME="gs://cac-exampleca/"
POLICY_REPO="https://source.developers.google.com/p/gcp-build/r/cac_policies"
CAC_IMAGE="northamerica-northeast1-docker.pkg.dev/gcp-d/c-java/cac:c7077c4"
